.App {
  width: 950px;
  margin: 0 auto;
  background-color: #FFF;
  position: relative;
}

.header {
  color: #FFF;
  background-color: #000;
}

a {
  padding:0 7px;
  color: #FFF;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
}

.separator {
  color: #FFF;
  margin: 0 15px;
  font-weight: bold;
  line-height: 12px;
}

body {
  background-color: #999;
  color: #222;
  font-family: 'Source Sans Pro', sans-serif;
}

nav div {
  background-color: #000;
  color: #FFF;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

nav a.active {
  color: #FFC107;
}

.category {
  color: #2196F3;
}

.fa {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #222;
}

.cart {
  background-color: #FFC107;
  position: absolute;
  right: -30px;
  top: -9px;
  font-size: 19px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  padding: 17px 10px;
  cursor: pointer;
}

.splash {
  background-image: url('../images/landing-splash-bg.png');
  background-size: cover;
  background-position: center top;
  /*filter: brightness(5);*/
  height: 300px;
  background-color: #FFF;
  padding: 73px;
  text-align: center;
  color: #FFF;
}

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
}

p {
  display: block
}

.splash p {
  margin: 0;
}

.content {
  margin: 2px 7px;
}

.SectionTitle {
  margin: 30px 0 23px 0;
}

.title {
  margin: 0;
  font-size: 32px;
  color: #000;
  font-weight: normal;
}

.subtitle {
  margin: 0;
  font-size: 16px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.grid .item {
  margin: 3px;
  border: 1px solid #CCC;
  width: 290px;
  padding: 7px;
  -webkit-box-shadow: 2px 2px 0px 0px rgba(200,200,200,0.62);
  -moz-box-shadow: 2px 2px 0px 0px rgba(200,200,200,0.62);
  box-shadow: 2px 2px 0px 0px rgba(200,200,200,0.62);
}

.grid img {
  width: 100%;
}

.grid h3 {
  margin: 0;
  font-size: 11px;
  font-weight: bold;
}

.grid p {
  margin: 0;
  font-size: 11px;
}

button {
  border: 1px solid #1F9DF7;
  padding: 12px 45px;
  background-color: white;
  color: #1F9DF7;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
}

button.red {
  color: #F44336;
  border-color: #F44336;
}

button.gray {
  color: #999;
  border-color: #999;
}

.footer {
  border-top: 1px solid #F0EFEF;
  text-align: center;
}

.footer .logo {
  margin: 20px 0 0;
  width: 75px;
}

.footer hr {
  width: 31px;
  border: 1px solid #b6b6b6;
}

.footer ul {
  margin-bottom: 30px;
  text-align: left;
  padding: 0;
  width: 235px;
  width: 184px;
  font-size: 12px;
}


.footer li {
  margin: 0 0 16px 0;
  list-style: none;
  font-weight: bold;
}

.footer li a {
  text-decoration: none;
  color: #222;
  padding: 0;
}

.footer li:first-child {
    color: #F44336;
}

.footer ul:last-child li {
    text-align:right;
    margin: 0 0 7px 0;
}

.footer i {
  margin-left: 7px;
  font-size: 16px;
}

.tools {
  text-align: right;
  margin: 20px 5px;
}

.tools button {
  padding: 12px 10px;
  margin: 10px 0 23px 5px;
}

.showing span {
  display: inline-block;
  vertical-align: middle;
}

.showing .number {
  font-size:  29px;
  color: #FFC107;
  font-weight: bold;
  margin-right: 5px;
}

.category-image {
  width: 100%;
}

.product .grid {
  justify-content: space-between;
  align-items: center;
}

.product .grid div {
  font-size: 12px;
}

.product img {
    max-width: 550px;
}

.product-data {
  font-size: 18px;
  width: 300px;
  float: right;
  border: 1px solid #999;
  padding: 10px 10px 20px 10px;
  margin:30px 30px 0 0;
}

.product-data h2 {
  margin: 0;
  font-size: 18px;
}

.product-data .price {
  text-align: right;;
  font-weight: bold;
  margin: 5px 0 0 0;
}

.product-data hr {
  border: 1px solid #999;
}

.add-to-cart {
  background-color: red;
  color: white;
  border: none;
  border-radius: 19px;
  padding: 10px 16px;
  margin: 0;
  font-size: 12px;
}

.product-data span {
  text-decoration: underline;
}

.block-text {
  width: 70%;
  margin: 0 auto;
}

.scart {
  width: 225px;
  position: absolute;
  right: 0;
  background-color: white;
  color: #222;
  z-index: 1;
  text-align: center;
  background-color: #CCC9;
  height: 100%;
}

.scart .cart-header {
  background-color: #163AF1;
  color: white;
  padding: 2px 5px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}

.scart .cart-title {
  padding: 17px;
}

.scart .cart-item {
  margin: 2px 10px;
  border-bottom: 1px solid #CCC;
  padding-bottom: 20px;
}

.scart .cart-item:last-child {
    border: none;
}

.scart .close {
  font-size: 22px;
  font-family: arial;
  vertical-align: top;
  cursor: pointer;
}

.right {
  float: right;
}

.black {
  color: #222;
}

.scart .cart-item img {
  width: 75%;
}

.scart .cart-item h3 {
  text-align: left;
}

.scart .cart-item p {
  margin-top: 10px;
  text-align: right;
}

.scart .products {
  background-color: white;
}

.hidden {
  visibility: hidden;
}

.no-item {
  font-size: 14px;
  background-color: white;
  padding: 20px;
}
